<div class="container">
  <%= form_with model: @chanel, url: chanels_path do |f| %>
    Titel:<%= f.text_field :title %>
    <%= submit_tag "Kanal speichern"%>
    <%= link_to "Abbrechen", chanels_path %>
  <% end %>
</div>